<h2>Detalles de {{movie.title}}</h2>

<ul>
  <li>Título: {{movie.title}}</li>
  <li>Año de estreno: {{movie.year}}</li>
  <li>Director: {{movie.director}}</li>
  <li>Reparto: {{movie.topCast}}</li>
  <li>Link IMDB: <a href="{{movie.IMDB}}" target="_blank">{{movie.IMDB}}</a></li>
</ul>